header{
    background-color: #BBBBBB;
}
nav li {
    display: inline;
    padding: 10px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}